* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5;
}

.app {
    margin-top: 13vh;
    display: flex;
    justify-content: center;
}

/* * * * * * * C H A T * * * * * * * * * */
.chat ul {
    list-style-type: none;
}

.chat ul li {
    margin-top: 1%;
    display: flex;
    gap: 2%;
    font-style: italic;
    font-weight: 200;
}

/* * * * * * * N A V B A R * * * * * * * */
.navbar {
    display: flex;
    justify-content: space-between;

    background-color: white;
}

#nav-title {
    font-style: italic;
    font-size: 1.2em;
    line-height: 190%;
    transform: rotate(-7.1deg);
    margin: 10px 10px 10px 20px;
}

#nav-title:hover {
    color: #ff8510;
    cursor: pointer;
}

#nav-items {
    display: flex;
    flex-direction: row;
}

/* creates gap for nav items */
#nav-items > div {
    margin: 10px;
}

#nav-items:last-child {
    margin-right: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    font-size: large;
    /* background-color: #832eef; */
    border: 2px dashed #d5d3cb;
    border-radius: 50%;

    cursor: pointer;
}

.logo a {
    text-decoration: none;
}

.logo:hover {
    border: 2px solid #d5d3cb;
}

.profile-pic {
    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #ff8510;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile-pic img {
    max-width: 80px;
    max-height: 80px;
}

/* * * * * * F R I E N D S  * * * * * * * */

/* * * * * *  S E A R C H  * * * * * * * */
.find-people {
    width: 50vw;

    display: flex;
    flex-direction: column;
}

.search-results {
    background-color: rgb(255, 255, 255);
    box-shadow: 9px 11px 0px 0px #d5d3cb;
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.search-results ul {
    list-style-type: none;
}

/* single result item */
.search-results ul li {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin: 5%;
    display: flex;
}

/* name on small search result */
.search-results ul li h5 {
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.3em;
    padding: 3%;
}

.friend-result-pic {
    width: 100px;
    height: auto;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    cursor: pointer;
}

.friend-result-pic img {
    border-radius: 10px;
    max-width: 100px;
}

/* * * * * * * *  P R O F I L E  * * * * * * * * * * */

.profile {
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 60vh;
    /* background-color: #d5d3cb; */
}

.profile-pic-big {
    width: 50%;
    /* width: 300px; */
    /* height: 300px; */

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(40, 40, 40); */
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

.profile-pic-big img {
    width: 100%;
    height: 100%;
    /* max-width: 400px;
    max-height: 400px; */
    border-radius: 50px;
}

.user-info {
    width: 50%;
    /* min-width: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 5%;
    /* padding: 1% 2% 2% 2%; */
    background-color: white;
    border-radius: 50px;
}

.user-info h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 2.1em;
}

.user-info p {
    font-weight: 200;
    font-style: italic;
    letter-spacing: 0.2em;

    margin: 0 0 2em 0;
}

.bio {
    width: 100%;
    height: 70%;
    border: 1px solid lightgray;

    padding: 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bio button {
    display: flex;
    justify-content: center;

    width: 25%;
}

/* .bio input {
    border: 1px solid #ff8510;
    width: 80%;
    height: 80%;
} */

/* * * * * * * * * * * * * U P L O A D E R * * * * * * * * * * * * */
.modal-uploader {
    position: absolute;
    max-width: 100vw;
    height: 13vh;
    top: 15%;
    right: 2%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    overflow: hidden;
    border: 2px dashed #d5d3cb;
    border-radius: 0;
    background-color: white;
}

/* parent of file upload */
.modal-half-left {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: auto;
}

/* file input */
.modal-half-left input[type="file"] {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    font-size: 90px;
    cursor: pointer;
}

/* lies over file input */
.btn-upload {
    background-color: rgb(255, 255, 255);
    padding: 14px 25px;
    margin: 0;

    font-size: 1.5em;
    font-weight: 600;
    line-height: 1em;

    box-shadow: none;
    border: none;
    border-radius: 0;
}

.btn-upload:hover {
    background-color: white;
    border: none;
}

.modal-half-right {
    position: relative;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.modal-half-right .submit-file {
    margin: 0;
    width: 100%;
    padding: 16%;

    font-weight: 700;

    display: flex;

    border-radius: 0;
    box-shadow: none;
    background-color: #ececec;
}

/* closing x */
.modal-uploader p {
    position: absolute;
    top: -4%;
    right: 2%;

    font-size: 1.3em;
    font-weight: 500;
    font-style: italic;
    color: #ff8510;

    cursor: pointer;
    z-index: 1;
}

.modal-uploader p:hover {
    color: #832eef;
}

/* * * * * * * W E L C O M E * * * * * * * * */
.welcome-container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

/* * * * L E F T * * * */
.welcome-left {
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #ff8510;
    border-radius: 50px;
}

.welcome-left h1 {
    font-size: 65px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.27em;
    line-height: 1.1em;
    text-align: left;
}

.welcome-left p {
    font-family: Poppins;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.27em;
    text-align: right;
}

/* * * * R I G H T  R E G I S T E R * * * */
.welcome-right {
    padding: 2% 2%;
    display: flex;
    justify-content: center;

    border-radius: 50px;
    border: 9px solid #ff8510;
}

.register {
    display: inline-block;
}

.register h1 {
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.2em;
}

.register p {
    margin-top: 3%;

    text-align: center;
    letter-spacing: 0.27em;
    font-style: italic;
    font-size: small;
}

.register p a {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

.register p a:hover {
    color: #ff8510;
}

/* * * * * * * F O R M * * * * * * * */
.form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
button {
    width: 100%;
    padding: 2%;
    margin: 3.5% 0;

    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 7px;
    box-shadow: 9px 11px 0px 0px #d5d3cb;

    font-weight: 275;
    font-size: 1em;

    text-align: right;
    letter-spacing: 0.27em;
}

button {
    background-color: #ff8510;
    border: 1px solid #ff8510;
    cursor: pointer;
}

button:hover {
    background-color: #832eef;
    border: 1px solid #832eef;
}

input:active {
    outline: none;
}

input:focus {
    outline: none;
}

.friends-btn {
    padding: 0;
    max-width: 6em;
    margin: 3%;
    text-align: center;
}
